*, *:before, *:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
html, body {
    width: 100%;
    height: 100%;
    
    margin: 0;
    padding: 0;
}
body { 
    background:  url('Res/Background/Negro.png') fixed center; 
}
/* -- Barra de Navegacion -- */
ul {
	border-radius: 5px;
    list-style-type: none;
    margin: 0;
	margin-top: 20px;
	margin-left: 15%;
	margin-right: 15%;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
li {

    float: left;
}
li a {
	
    display: block;
	color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none; /* Quita subrayado */
}
li a:hover:not(.active) {
    background-color: #111;
}
.active {
    background-color: #4CAF50;
}
/* --------------- */

/* -- Container Flex -- */
.container  {
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
}
/* -------------------- */

/* -- Div Principales -- */
div.DivInicio {
	border-radius: 5px;
	margin-top: 30px;
	margin-left: 15%;
	margin-right: 15%;
	border: 3px solid #4CAF50;
	padding-left: 1%;
	padding-right: 1%;
	display: block;
	background-color: green;
	
	/*FLEX*/
	position: relative;
	flex: 0.9 1;
	height: auto;
	width: auto;
}
div.DivPrueba1 {
	border-radius: 5px;
	margin-top: 30px;
	margin-left: 15%;
	margin-right: 15%;
	border: 3px solid #4CAF50;
	padding-left: 1%;
	padding-right: 1%;
	background-color: aqua;
	display: none;
	
	/*FLEX*/
	position: relative;
	flex: 0.9 1;
	height: auto;
	width: auto;
}	
div.DivPrueba2 {
	border-radius: 5px;
	margin-top: 30px;
	margin-left: 15%;
	margin-right: 15%;
	border: 3px solid #4CAF50;
	background-color: blue;
	padding-left: 1%;
	padding-right: 1%;
	display: none;
	
	/*FLEX*/
	position: relative;
	flex: 0.9 1;
	height: auto;
	width: auto;
}
div.DivPrueba3 {
	border-radius: 5px;
	margin-top: 30px;
	margin-left: 15%;
	margin-right: 15%;
	border: 3px solid #4CAF50;
	background-color: purple;
	padding-left: 1%;
	padding-right: 1%;
	display: none;
	
	/*FLEX*/
	position: relative;
	flex: 0.9 1;
	height: auto;
	width: auto;
}
/* --------------------- */